#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.site-head a:hover
{
  text-decoration:none;
}
@media (min-width: 768px) {
  #nav-center {
    display: inline-block;
    float: none !important;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

#face
{
  width:200px;
}