extends ../layouts/default

block content
	.container: .jumbotron
		h1 Contact Me
		p Below are a few different options to reach me, including encrypted communications.
			ul
				h3 Email
				li <a id='email'>Please enable JavaScript to view spambot-hidden emails.</a>
				h3 Encrypted
				li PGP: <a href='/files/aaronsilber.pub' target='_blank'>0x97e6a055aa8b96c6</a>
					li <a href='https://encrypt.to/0x97e6a055aa8b96c6' target='_blank'>Send a PGP email online</a>.