extends ../layouts/default

block content
	.container: .jumbotron
		h1 Experience
		ul
			li Web Design Intern, 9g Enterprises, 2010
			li Museum Intern, The Leonardo, 2013
			li Museum Interpretation, ECHO Lake Aquarium, 2013
			li Robotics Research, Cornell Creative Machines Lab, 2013
			li Electronics Education, Revamp Camp, 2013
			li 3D Printer Maintenance, Blu-Bin, 2013
			li Retail Sales, Ace Hardware, 2013-2014
			li Agriculture, Early Morning Farm, 2014