extends ../layouts/default

block content
	.container: .jumbotron
		div.pull-right.thumbnail
			img(src='/images/mentor.jpg').picframe
			div.caption.text-center Mentoring at Revamp Camp (Photo: Ithaca Generator)
		h1 Over here!
		p I designed my first website almost 8 years ago. Soon after, I wrote an application to help myself learn the 3rd grade math curriculum.
		p It wasn't long until I was heading middle school web design teams. In competition our sites ranked top 3 state-wide, and top 10 nationally.
		p I have since collaborated in a research lab at Cornell University, taught kids about Arduino, worked for Burlington startup <a href="http://www.blu-bin.com/">Blu-Bin</a>, and studied a variety of computer science topics.
		p Are you a prospective employer? Check out my <a href="/portfolio">portfolio</a> and <a href="/resume">resume</a> and <a href="/contact">contact me</a> any time.
//div.pull-right
//			button.btn.btn-default.btn-lg.codebtn
//				img(src='/images/3d-glasses.png')
//				h5 Code View
//img(src='/images/logo.svg', width='160')
