extends ../layouts/default

block content
	.container: .jumbotron
		div.pull-right.thumbnail
			img(src='/images/javagaits.png').picframe
			div.caption.text-center JavaGaits
		h1 JavaGaits
			p JavaGaits was written as part of a research project involving a robot platform called Aracna. Aracna was a robotics platform designed as a testbed for evolutionary learning algorithms. JavaGaits facilitated the quantitative analysis at the very core of my research: to emphasize the magnitude of importance held by grippers and "footwear" on robots.
			p The code is relatively single-purposed and is far from the epitome of reusability and modularity, simply because that was not the goal. Stability and reliable test results were the primary needs, and within our testing environment, it excelled. On a standard laptop, motion tracking of the marker could be performed at 30fps realtime.
			p This project was novel in that it used the first publicly available, official Java bindings for the tried-and-true OpenCV library. The Java SDK was released only weeks before the project began, and documentation was sparse at best. OpenCV examples in say, C or Python, or using the community-created unofficial bindings, were largely inconsistent with the code patterns required by Java with this new release.
			p The source for the project, in its unpolished state, serves to illustrate some common code patterns for using OpenCV, with official bindings, in Java. The source resides at Github, <a href="https://github.com/aaronsilber/javagaits">check out the respository</a>.