extends ../layouts/default

block content
	.container: .jumbotron
		div.pull-right.thumbnail
			img(src='/images/javagaits.png').picframe
			div.caption.text-center JavaGaits
		h1 JavaGaits
			p JavaGaits was written as part of a research project involving a robot platform called Aracna. Aracna was a robotics platform