extends ../layouts/default

block content
	.container: .jumbotron
		div.pull-right.thumbnail
			img(src='/images/nws-sms.png').picframe
			div.caption.text-center NWS SMS
		h1 JavaGaits
			p This site grew up out of it's predecessor "aaronthesilber.com". I wanted to build an experience that was high-performance, simple and easy on the eye. In the end, I decided to build the site on KeystoneJS. Although it has a MongoDB backing, at this time, it's not extensively used.
			p Nginx is configured as a reverse-proxy for node itself, handling TLS in the process.
			p The server is an Ubuntu virtual machine running on SSD hardware over at DigitalOcean.com. All the internal management of the site is performed over SSH and the server has been hardened to a number of attacks.
			p Root login is disabled. Password auth is disabled. Only select users even can logon, those that can must pass publickey authentication. Fail2ban is configured to manage auto-banning on brute force attacks.
			p Check out the source code to the site while you're at it. It's <a href="https://github.com/aaronsilber/aaronsilber.me/" target="_blank">over at Github</a>.