extends ../layouts/default

block content
	.container: .jumbotron
		div.pull-right.thumbnail
			img(src='/images/nws-sms.png').picframe
			div.caption.text-center NWS SMS
		h1 Severe Weather SMS Alerts
			p The National Weather Service is usually pretty on top of its game. Whether we would receive any of their warnings when it really mattered, working fields with almost no cellular coverage and no room for radios, is another matter.
			p This code project was concocted after realizing what many of us had in the field already: we could receive text messages. A Weather.gov scrape script and some Twilio and cronjob hacking later, and SMS notifications could reach us and warn us of severe weather alerts.