extends ../layouts/default

block content
	.container: .jumbotron
		h1 Resume
		p Below are current resumes, with variations for specific industry focuses.
			ul
				li
					a(href='/files/AS-Resume-Software-Oct2014.pdf') Software Developer [PDF]